* {
    margin: 0;
}

html {
    background-color: lightblue;
}

body {
	position: relative;
	overflow: hidden;
}
html, body {
    height: 100%;
    margin: 0;
	padding: 0;
}
p {
	padding: 2px 16px;
	font-size: 15px;
	font-family: 'Lato', Georgia, sans-serif;
	color: #666666;
}
h1 {
    color: #0404B4;
    font-family: 'Lobster';
    text-shadow: 3px 2px 1px rgba(181, 184, 255, 1);
    margin:0 auto;
}
h2 {
    color: #0404B4;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
h2 span {
    font-variant: small-caps;
    padding: 2px 16px;
}
.container {
    padding: 2px 16px;
}

.box {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.box>* {
	flex: 1 1 160px;
}
.center-img {
    display: block;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkkhaki;
}
/* Float the list items side by side */
ul.topnav li {
    float: left;
}
/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: olivedrab;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
ul.topnav li a:hover {
    box-shadow: 0 5px 15px khaki;
	transition: opacity 0.3s ease-in-out;
	background-color: olivedrab;
}
/* Hide the list item that contains the link that should
   open and close the topnav on small screens */
ul.topnav li.icon {
	display: none;
}
.header-title {
	padding: 2px 16px;
	text-align: center;
}
.price {
	padding: 0px 0px;
	display: flex;
	justify-content: flex-start;
	color: darkgreen;
}
.price span {
	align-self: flex-end;
}
/* This is the entire page wrapper */
.site-container {
    max-width: 100%;
    height: 100%;
    background-color: lightblue;
    margin-left: auto;
    margin-right: auto;
}
/* This controls the form size and contents */
.admin_panel {
    margin: 0 auto;
    width: 50%;
    height: 80%;
    background-color: #fffaf4;
	border: 1px solid #d6d6d6;
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
	transition: all 0.3s ease-in-out;
	border-radius: 10px;
    transition: 0.3s;
}
.admin_panel:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
	transition: opacity 0.3s ease-in-out;
}

ul.ProfileList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
/* Float the list items side by side */
ul.ProfileList li {
    float: left;
}
/* Style the links inside the list items */
ul.ProfileList li {
    display: inline-block;
    color: olivedrab;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
ul.ProfileList li :hover {
    box-shadow: 0 5px 15px khaki;
	transition: opacity 0.3s ease-in-out;
}
/* Hide the list item that contains the link that should
   open and close the topnav on small screens */
ul.ProfileList li.icon {
	display: none;
}

.bg_img {
    background-color: darkkhaki;
    background-image: url('/static/images/fireklr.png');
    background-size: cover;
    background-attachment:fixed;
    background-position: center;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
